<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>말레 EG</title>
<link rel="shortcut icon" href="/user/assets/images/icon/user.ico" />
<link
  href="https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css"
  rel="stylesheet"
  type="text/css"
/>
<link rel="stylesheet" href="/user/assets/css/common.css" />
<!-- CSS -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

<!-- JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<script src="/user/assets/js/common-fetch.js"></script>
<!-- <script src="/user/assets/js/swiper/swiper.js"></script> -->
