<header class="gnb-wrap">
    <!-- PC  -->
    <div class="gnb pc">
        <img src="/user/assets/images/header_logo.png" alt="" onclick="location.href='/'">

        <ul class="gnb-menu">
            <li class="main-menu"><a href="/kingsley?id=info">킹슬리 국제학교</a>
                <ul class=" sub-menu">
                    <li><a href="/kingsley?id=info">소개</a></li>
                    <li><a href="/kingsley?id=program">프로그램 안내</a></li>
                </ul>
            </li>
            <li class="main-menu"><a href="/hotel">선웨이라군 호텔</a>
                <ul class="sub-menu">
                    <li><a href="/hotel">프로그램 안내</a></li>
                </ul>
            </li>
            <li class="main-menu"><a href="/camp_life">캠프 생활엿보기</a>
                <ul class="sub-menu">
                    <li><a href="/camp_life">갤러리</a></li>
                </ul>
            </li>
            <li class="main-menu"><a href="/camp_apply">캠프 신청하기</a>
                <ul class="sub-menu">
                    <li><a href="/camp_apply">견적신청</a></li>
                </ul>
            </li>
            <li class="main-menu"><a href="/community?type=qna">커뮤니티</a>
                <ul class="sub-menu">
                    <li><a href="/community?type=qna">묻고답하기</a></li>
                    <li><a href="/community?type=presentation">설명회요청</a></li>
                    <li><a href="/community?type=review">참가자리뷰</a></li>
                </ul>
            </li>
        </ul>
        <div class="sub-menu-area"></div>
    </div>
    <!-- //PC  -->

    <!-- MO -->
    <div class="mo-gnb mo">
        <img src="/user/assets/images/header_logo.png" alt="" onclick="location.href='/'">
        <div class="mo-menu-btn"><i class="ico menu"></i></div>

        <div class="mo-gnb-menu-area">
            <div class="mo-gnb-menu-header">
                <img src="/user/assets/images/header_logo.png" alt="">
                <div class="mo-menu-close"><i class="ico close"></i></div>
            </div>

            <ul class="mo-gnb-menu">
                <li class="main-menu"><a href="/kingsley?id=info">킹슬리 국제학교</a>
                    <ul class="sub-menu">
                        <li><a href="/kingsley?id=info">소개</a></li>
                        <li><a href="/kingsley?id=program">프로그램 안내</a></li>
                    </ul>
                </li>
                <li class="main-menu"><a href="/hotel">선웨이라군 호텔</a>
                    <ul class="sub-menu">
                        <li><a href="/hotel">프로그램 안내</a></li>
                    </ul>
                </li>
                <li class="main-menu"><a href="/camp_life">캠프 생활엿보기</a>
                    <ul class="sub-menu">
                        <li><a href="/camp_life">갤러리</a></li>
                    </ul>
                </li>
                <li class="main-menu"><a href="/camp_apply">캠프 신청하기</a>
                    <ul class="sub-menu">
                        <li><a href="/camp_apply">견적신청</a></li>
                    </ul>
                </li>
                <li class="main-menu"><a href="#">커뮤니티</a>
                    <ul class="sub-menu">
                        <li><a href="/community?type=qna">묻고답하기</a></li>
                        <li><a href="/community?type=presentation">설명회요청</a></li>
                        <li><a href="/community?type=review">참가자리뷰</a></li>
                    </ul>
                </li>
            </ul>

        </div>
        <div class="mo-gnb-menu-dim"></div>
    </div>
    <!-- //MO -->
</header>