<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('head') %>
</head>

<body>
  <div class="wrap">
    <%- include('header') %>

      <div class="container">
        <div class="page-banner">
          <p class="sub-title">
            레저, 엔터테인먼트, 교육, 쇼핑 및 비즈니스를 위한 계획 도시
          </p>
          <h3 class="main-title">선웨이라군 호텔</h3>
        </div>

        <!-- 소개 -->
        <section class="page-section">
          <div class="width">
            <h3 class="page-content-title">
              관광객과 현지인 모두에게 깊은 감동을 제공합니다.
            </h3>
            <p class="page-content-explanation">
              선웨이 시티(Sunway City)는 말레이시아의 수도인 쿠알라룸프르에서<br />
              약 20분 정도 남쪽에 위치한 통합 개발 지역입니다.<br />
              이 지역은 다양한 관광 명소, 엔터테인먼트 시설,
              <br class="introduction-br-600" />숙박 옵션 및 레저 활동을
              제공하여<br />
              관광객과 현지인 모두에게 인기 있는 장소입니다.
            </p>

            <div class="page-section hotel-facility-section">
              <h3 class="page-title">주요 명소 및 시설</h3>
              <ul class="hotel-facility">
                <li>
                  <div>
                    <img src="/user/assets/images/page/hotel_01.jpg" alt="" />
                  </div>

                  <div class="hotel-facility-text-area">
                    <div class="title">선웨이 랜드</div>
                    <div class="explanation">
                      대규모 워터파크와 테마파크를 포함하고 있는 플레이 그라운드
                    </div>
                  </div>
                </li>
                <li>
                  <div>
                    <img src="/user/assets/images/page/hotel_02.jpeg" alt="" />
                  </div>

                  <div class="hotel-facility-text-area">
                    <div class="title">선웨이 피라미드</div>
                    <div class="explanation">
                      수많은 상점 , 레스토랑, 영화관, 아케이드 등을 포함하고
                      있는 대형 쇼핑몰
                    </div>
                  </div>
                </li>
                <li>
                  <div>
                    <img src="/user/assets/images/page/hotel_03.jpg" alt="" />
                  </div>

                  <div class="hotel-facility-text-area">
                    <div class="title">선웨이 엑스포 센터</div>
                    <div class="explanation">
                      다양한 이벤트 및 전시회가 끊임없이 개최되는 공간
                    </div>
                  </div>
                </li>
                <li>
                  <div>
                    <img src="/user/assets/images/page/hotel_04.jpg" alt="" />
                  </div>
                  <div class="hotel-facility-text-area">
                    <div class="title">선웨이 익스프레스</div>
                    <div class="explanation">
                      선웨이 시티 내의 다양한 지역 간을 연결하는 무료 셔틀
                      서비스 시스템
                    </div>
                  </div>
                </li>
              </ul>
            </div>

            <div class="page-section-bottom">
              <div class="page-sub-banner hotel">
                <h3 class="main-title">선웨이라군 호텔</h3>
                <p class="sub-title">
                  16,200㎡에 달하는 통합 레저신도시
                  <br class="introduction-br" />Sunway City Kuala Lumpur의
                  일부를 형성하는 4성급 호텔입니다.
                  <br />
                  401개의 객실에서는 석호의 그림 같은 전망과
                  <br class="introduction-br" />탁 트인 도시 경관을 감상할 수
                  있습니다.
                </p>
              </div>
            </div>

            <div class="kingsley-intro-area width small">
              <picture>
                <source media="(max-width: 600px)" srcset="/user/assets/images/page/hotel_composition_mo.png" />
                <img src="/user/assets/images/page/hotel_composition.png" alt="" class="img-full" />
              </picture>
            </div>
          </div>
        </section>
        <!-- //소개 -->

        <%- include('footer') %>
      </div>
  </div>

  <script src="/user/assets/js/ui.js"></script>
  <script src="/user/assets/js/common.js"></script>
</body>

</html>