<ul
  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <!-- Sidebar - Brand -->
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    href="gallery_main"
  >
    <div class="sidebar-brand-icon rotate-n-15">
      <img
        width="32"
        height="32"
        src="https://img.icons8.com/fluency-systems-regular/48/FFFFFF/bonfire.png"
        alt="bonfire"
      />
    </div>
    <div class="sidebar-brand-text mx-3">Malaysia<sup>EG</sup></div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider show" />

  <!-- Heading -->
  <div class="sidebar-heading">Category</div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a
      class="side nav-link collapsed"
      href="#"
      aria-expanded="true"
      aria-controls="collapseTwo"
    >
      <i class="fas fa-fw fa-folder"></i>
      <span>콘텐츠 관리</span>
    </a>
    <div
      id="collapseOne"
      class="collapse show"
      aria-labelledby="headingTwo"
      data-parent="#accordion_sidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <a
          class="collapse-item nav-item-text"
          id="content_page_btn"
          href="gallery_main"
        >
          갤러리 관리
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-caret-right-fill nav-arrow-btn content"
            viewBox="0 0 16 16"
          >
            <path
              d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
            />
          </svg>
        </a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider show" />

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a
      class="side nav-link collapsed"
      href="#"
      aria-expanded="true"
      aria-controls="collapseTwo"
    >
      <i class="fas fa-fw fa-wrench"></i>
      <span>견적내역 관리</span>
    </a>
    <div
      id="collapseOne"
      class="collapse show"
      aria-labelledby="headingTwo"
      data-parent="#accordion_sidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <a
          class="collapse-item nav-item-text"
          id="content_page_btn"
          href="estimate_main"
        >
          견적내역 관리
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-caret-right-fill nav-arrow-btn content"
            viewBox="0 0 16 16"
          >
            <path
              d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
            />
          </svg>
        </a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider show" />

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a
      class="side nav-link collapsed"
      href="#"
      aria-expanded="true"
      aria-controls="collapseTwo"
    >
      <i class="fas fa-fw fa-cog"></i>
      <span>커뮤니티 관리</span>
    </a>
    <div
      id="collapseOne"
      class="collapse show"
      aria-labelledby="headingTwo"
      data-parent="#accordion_sidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <a
          class="collapse-item nav-item-text"
          id="content_page_btn"
          href="questionAnswer_main"
        >
          묻고 답하기
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-caret-right-fill nav-arrow-btn content"
            viewBox="0 0 16 16"
          >
            <path
              d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
            />
          </svg>
        </a>
        <a
          class="collapse-item nav-item-text"
          id="content_page_btn"
          href="presentation_main"
        >
          설명회 요청
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-caret-right-fill nav-arrow-btn content"
            viewBox="0 0 16 16"
          >
            <path
              d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
            />
          </svg>
        </a>
        <a
          class="collapse-item nav-item-text"
          id="content_page_btn"
          href="customerReview_main"
        >
          참가자 리뷰
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-caret-right-fill nav-arrow-btn content"
            viewBox="0 0 16 16"
          >
            <path
              d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
            />
          </svg>
        </a>
      </div>
    </div>
  </li>
</ul>
